body {
    font-family: Arial, sans-serif;
    background-color: #18A4E0;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    color: #FAF8F0;
}

.menu {
    width: 15%;
    background-color: #043353;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed; /* Fijo a la izquierda */
    top: 0;
    bottom: 0;
}

.menu a {
    color: #FAF8F0;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.menu a:hover {
    background-color: #18A4E0;
    color: #043353;
}

.menu a.active {
    background-color: #18A4E0;
    color: #043353;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px; /* Espacio para el menú */
}

.content {
    background: #FAF8F0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 600px;
    border: 1px solid #D3DDE6;
}

h1 {
    font-size: 24px;
    color: #043353;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#AccionInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #D3DDE6;
    border-radius: 5px;
    width: 70%;
    margin-right: 10px;
    color: #043353;
}

#Buscar {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #043353;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#Buscar:hover {
    background-color: #FAF8F0;
    color: #043353;
    border: 1px solid #043353;
}

.result {
    margin-top: 20px;
}

h2 {
    font-size: 20px;
    color: #043353;
}

p {
    font-size: 18px;
    color: #043353;
}
